<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="PageTimeoutSec" value="30"/>
        <add key="APIURL" value="http://dkmkl-fusion-7/bookit"/>
        <add key="ErrorMessage" value="Der er desværre sket en fejl. Kontakt venligst en Flight Instructor"/>
        <add key="UserNotFoundMessage" value="Vi kunne desværre ikke finde dig med det angivne nummer. Kontakt venligst en Flight Instructor."/>
    </appSettings>
    <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
